---
layout: base
title: Advanced Topics
author: Dominik Dary
---
.container-fluid
  .row-fluid
    .span3
      #sidebar
        %ul.nav.nav-tabs.nav-stacked
          %li
            %a{:href=>'#dynamicExtension'} Dynamic Extendability
    .span9
      %h1 Advanced Topics
      %p Selendroid can be used at enterprise scale.
      %h2#dynamicExtension Dynamic Extendability
      %p look at: https://github.com/selendroid/selendroid-extension