// customize bootstrap variables here:
@import "variables";
$baseFontSize: 16px;
$baseLineHeight: 24px;
$monoFontFamily: Consolas, "Liberation Mono", Courier, monospace;
$navbarBrandColor: #ddd;
$navbarLinkColor: #999;
$navbarLinkColorHover: #fff;
$navbarLinkColorActive: #fff;
$navbarBackgroundHighlight: rgba(0, 0, 0, .25);

@import "bootstrap";

.page-header {
  padding-bottom: 10px;
}

.navbar-inner {
  background: #012340;
}

.navbar {

  .nav > li {
    font-size: 16px;
  }

  .brand {
    font-weight: 500;
    font-size: 24px;
  }

  .nav .dropdown-toggle .caret {
    vertical-align: text-top;
  }
}

.elastic-video {
	position: relative;
	padding-bottom: 55%;
	padding-top: 15px;
	height: 0;
	overflow: hidden;
}
.elastic-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@import "bootstrap-responsive";